#services {
  .services-section {
    .service {
      @include section-container;
      display: flex;
      flex-direction: column;
      min-height: 50vh;
      &.withBackground {
        background-color: $purple;
        border-top: 2px solid #ff5733;
        border-bottom: 2px solid #ff5733;
      }
      .ant-row{
          width: 100%
      }
      .service-name {
        color: $purple;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 8px;
        text-align: center;
        &.white {
          color: white;
        }
        @include md {
          font-size: 22px;
        }
        @include xl {
          font-size: 24px;
          margin-bottom: 24px;
        }
      }
      .service-description {
        color: $dark-blue;
        font-size: 14px;
        margin-bottom: 12px;
        &.white {
          color: white;
        }
        @include md {
          font-size: 16px;
        }
        @include xxl {
          max-width: 650px;
          margin-bottom: 18px;
        }
      }
      .service-list{
        list-style: none;
        padding: 0;
        &.white{
          li{
            color: white;
          }
        }
        li{
          @extend .service-description;
          max-width: 100%;
        }
      }
      .service-button{
        @include primary-button;
      }
      .section-name{
        color: $orange;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 8px;
        &.white {
          color: white;
        }
        @include md {
          font-size: 18px;
        }
        @include xl {
          font-size: 20px;
          margin-bottom: 12px;
        }
      }
      .main-service-description{
        @extend .service-description;
        max-width: 100%;
      }
      .service-image-container {
        .service-image {
          width: 100%;
        }
      }
    }
  }
}
