.footer {
    @include sub-section-container;
    padding-top: 64px;
    background-color: black;
    position: relative;
    border-top: 2px solid #ff5733;
    .footer-image{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      opacity: 0.3;
      height: 100%;
      width: 100%;
      padding: 20px;
    }
    .copyright {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      color: white;
      display: block;
      font-size: 12px;
    }
    .footer-row {
      .footer-col {
        margin-top: 32px;
        @include md {
          margin-top: 24px;
        }
        @include lg {
          margin-top: 12px;
        }
        .list-header{
          color: white;
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 24px;
        }
      }
      .ant-col {
          display: block;
      }
    }
    .brand-container {
      padding: 0 12px;
      .footer-logo {
        max-width: 100px;
        @include md {
          max-width: 120px;
        }
        @include xl {
          max-width: 170px;
        }
      }
      .social-container {
        justify-content: space-between;
        max-width: 140px;
        margin-top: 24px;
        padding: 0;
        @include md {
        max-width: 100px;
        padding: 0 4px;
  
        }
        @include xl {
          padding: 0 8px;
          max-width: 170px;
        }
        .social-image {
          height: 100%;
          width: auto;
          max-height: 16px;
          margin-right: 8px;
          @include md {
            height: 100%;
            width: auto;
            max-height: 18px;
          }
          @include xl {
            max-height: unset;
          }
        }
      }
    }
    .footer-list {
      list-style: none;
      padding: 0;
      li {
        .link {
          color: $orange;
          text-transform: uppercase;
          font-family: $heading-font;
          margin-bottom: 12px;
          font-weight: 600;
          font-size: 14px;
          display: block;
          letter-spacing: 1px;
        }
        .contact {
          color: $orange;
          font-family: $heading-font;
          letter-spacing: 1px;
          margin-bottom: 12px;
          font-weight: 600;
          display: block;
        }
      }
    }
  }
  