#home {
  .home-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;

    margin-top: 60px;
    @include msm {
      margin-top: 65px;
    }
    @include xxxl {
      margin-top: 70px;
    }
    .image-carousel {
      height: 400px;
      .image-container {
      }
    }
  }
}
