#home{
  .quote{
    margin: 24px 0;
    @include xxl{
      margin: 32px 0;
    }
    @include section-container;
    .quote-heading{
      color: $orange;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 8px;
      @include md{
        font-size: 22px;
      }
      @include xl{
        font-size: 24px;
        margin-bottom: 24px;
      }
    }
    .quote-description{
      color: $dark-blue;
      font-size: 14px;
      margin-bottom: 12px;
      @include md{
        font-size: 16px;
      }
      @include xxl{
        max-width: 650px;
        margin-bottom: 18px;
      }
    }

    .quote-image-container{
      .quote-image{
        width: 100%;
      }
    }
    .button-container{
      margin-top: 12px;
      @include md{
        margin-top: 24px;
      }
      .enquiry-button{
        height: 100%;
        border: none;
        background-color: $light-blue;
        @include xxl{
            padding: 4px 30px;
        }
        span{
        color: white;
        font-family: $heading-font;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 600;
        }
      }
    }
  }
}